body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.container-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.container-header ul a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.container-header div {
  font-size: 24px;
  color: #F9FAF8;
  
}

.container-content .text h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.container-content .text p {
  font-size: 18px;
  color: #E5E7EB;
}

.container-content .text button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.top {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.container-content {
  display: flex;
  justify-content: center;
}

,middle-top {
  background-color: #FFF;
}

.middle-bottom {
  background-color: #E5E7EB;
}

.bottom {
  background-color: #FFF;
}
