body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.container-header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.container-header ul a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.container-header div {
  font-size: 24px;
  color: #F9FAF8;
  
}

.container-content .text, img {
  align-self: start;
}

.container-content .text h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
}

.container-content .text p {
  font-size: 18px;
  color: #E5E7EB;
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 8px;
  padding:0;
}

.container-content .text button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 4px;
  border: 0;
  padding: 4px 16px;
}

.top {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.container-header {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.container-content {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
  gap: 32px;
}

,middle-top {
  background-color: #FFF;
}

.middle-bottom {
  background-color: #E5E7EB;
}

.bottom {
  background-color: #FFF;
}

.footer {
  background-color: #1F2937;
}
